<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <PortType>0</PortType>
  <COMPort>1</COMPort>
  <BoudRate>115200</BoudRate>
  <CRC>false</CRC>
  <AppAddress>08010000</AppAddress>
  <AppDownloadFile>
  </AppDownloadFile>
  <SPIF>false</SPIF>
  <SPIFAddress>00000000</SPIFAddress>
  <SPIFDownloadFile>
  </SPIFDownloadFile>
</Configuration>